body {
  padding-top: 4em;
  font-family: Muli, Roboto, "Helvetica Neue";
  background-color: white; }

nav {
  background-color: #F7B1AB; }
  nav ul {
    list-style: none; }
  nav li {
    padding-right: 1em;
    font-family: Roboto; }
    nav li a {
      color: black;
      text-decoration: none; }
      nav li a:hover {
        color: yellow;
        text-decoration: none; }
  nav .nav__logo {
    height: 50px;
    margin-right: 1em; }
  nav .redes {
    height: 20px;
    margin-right: 1em; }
  @media screen and (min-width: 1024px) {
    nav .navbar-toggler {
      display: none !important; } }
  @media screen and (max-width: 1023px) {
    nav .navList {
      display: none !important; }
    nav .navbar-toggler {
      display: block !important;
      background-color: #F7B1AB; } }

footer {
  background-color: #F7B1AB; }
  footer .footer__logo {
    height: 50px;
    margin-right: 1em; }
  footer .footer__link {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: black;
    text-decoration: none; }
    footer .footer__link:hover {
      color: yellow;
      text-decoration: none; }
  footer .redes {
    height: 20px;
    margin-right: 1em; }

.dark__container {
  height: 90vh;
  position: relative;
  z-index: 2;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  background-image: url(../images/bg-violeta.svg);
  backgroud-repeat: no-repeat;
  background-position: center bottom; }
  .dark__container .text-container .presentation {
    color: #ffd131; }
  @media screen and (min-width: 1024px) {
    .dark__container .text-container {
      padding: 200px; } }
  @media screen and (max-width: 1023px) {
    .dark__container .text-container {
      padding-top: 100px;
      height: 80vh; }
      .dark__container .text-container .display-2 {
        font-size: 4rem; }
      .dark__container .text-container .display-4 {
        font-size: 2.5rem; } }
  @media screen and (min-width: 1024px) {
    .dark__container {
      background-size: 200% 200%; } }
  @media screen and (max-width: 1023px) {
    .dark__container {
      background-size: 270% 160%; }
      .dark__container .text-containter {
        padding-top: 100px; } }

.btn-primary:focus {
  background-color: #ffd131 !important;
  border-color: #F7B1AB !important;
  box-shadow: none !important; }

.btn-primary:active {
  background-color: #ffd131 !important;
  border-color: #F7B1AB !important;
  box-shadow: none !important; }

section .section__title {
  color: #5D4E60;
  font-family: Alfa Slab One; }

#SoyAbril {
  padding-top: 8em; }
  #SoyAbril .SoyAbril__row {
    background-color: #ffd131;
    padding: 1em; }
  #SoyAbril .SoyAbril__foto {
    height: 300px;
    justify-content: center; }
  @media screen and (min-width: 1024px) {
    #SoyAbril {
      height: 80vh; } }
  @media screen and (max-width: 1023px) {
    #SoyAbril {
      padding-top: 4em; }
      #SoyAbril .SoyAbril__foto {
        height: 200px; } }

@media screen and (min-width: 1024px) {
  .skills__container {
    padding: 1em 0em 5em 0em; } }

@media screen and (max-width: 1023px) {
  .skills__container {
    padding: 10em 0em 5em 0em; } }

.skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  .skills .skills__img {
    height: 200px;
    width: 200px; }
  .skills h5 {
    padding-top: 1em; }

.sobremi__container {
  padding-left: 0px; }
  @media screen and (min-width: 1024px) {
    .sobremi__container .sobremi__container__img {
      padding-left: 0px; } }
  @media screen and (max-width: 1023px) {
    .sobremi__container .sobremi__container__img {
      padding: 0px; } }
  @media screen and (max-width: 1023px) {
    .sobremi__container {
      padding: 0em 0em 3em 0em; } }

.novedades__container .card-deck__style {
  padding-left: 10px; }

.novedades__container .card__style {
  border: 0px;
  padding: 0px;
  background-color: #ffd131; }
  .novedades__container .card__style .card-img-top {
    border-radius: 0.5em;
    width: 100%;
    height: auto; }

@media screen and (min-width: 1024px) {
  .novedades__container {
    padding: 1em 0em 5em 0em; } }

@media screen and (max-width: 1023px) {
  .novedades__container {
    padding: 10em 0em 5em 0em; } }

.trabajos {
  background-color: #ffd131;
  padding: 1em;
  margin: 1em auto; }
  .trabajos .trabajos__title {
    color: #5D4E60;
    font-family: Roboto, sans-serif; }
  .trabajos .trabajos__foto {
    height: 300px; }

.post-category {
  display: inline-block;
  background-color: #5D4E60 !important;
  padding: 2px 10px;
  border-radius: 4px;
  letter-spacing: .2em;
  font-weight: 700;
  font-size: .5rem;
  text-transform: uppercase; }

.blog {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding: 1em;
  margin: 1em auto; }
  .blog .blog__post {
    padding-bottom: 2em;
    background-color: #F7B1AB;
    box-sizing: border-box; }
    .blog .blog__post .blog__post__modeling {
      padding-left: 20px;
      padding-right: 20px; }
    .blog .blog__post .blog__post__meta {
      font-size: 13px;
      width: 100%;
      display: block; }
    .blog .blog__post .text-left {
      text-align: left; }
    .blog .blog__post .align-items-center {
      align-items: center !important; }
    .blog .blog__post .clearfix:after {
      display: block;
      clear: both;
      content: ""; }
    .blog .blog__post p {
      color: #666666; }
  .blog .blog__img {
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
    margin-right: 2em; }
  .blog .blog__title {
    color: #5D4E60;
    font-family: "Muli", "Helvetica Neue", Roboto, sans-serif;
    font-size: 24px;
    margin-botton: 30px;
    font-weight: 700;
    line-height: 1.5; }

.article__img {
  min-height: 80vh;
  background-image: url(../images/calltoactionbig.jpg);
  background-position: center center; }

.article {
  margin: 1em auto; }

.row {
  animation-duration: 2s;
  animation-name: aparecer2;
  margin-left: 0px;
  margin-right: 0px; }

@keyframes aparecer2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.card__search, .card__category {
  background-color: #F7B1AB;
  color: #5D4E60; }

.card__list .li-20px {
  font-size: 20px; }

.card__list .li-15px {
  font-size: 15px; }

.card__list .li-10px {
  font-size: 10px; }

@media screen and (min-width: 1024px) {
  .botones__trabajo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; } }

.grilla {
  display: flex;
  flex-wrap: wrap;
  padding: 3em 4px;
  margin-right: 0px;
  margin-left: 0px; }

.grilla__columna {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px; }
  .grilla__columna .grilla__columna__img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%; }
  @media screen and (max-width: 800px) {
    .grilla__columna {
      flex: 50%;
      max-width: 50%; } }
  @media screen and (max-width: 600px) {
    .grilla__columna {
      flex: 100%;
      max-width: 100%; } }

.image {
  position: relative;
  width: 100%;
  transition: transform .2s; }
  .image:hover {
    transform: scale(1.1); }
  .image .image__img {
    display: block;
    width: 100%;
    height: auto; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #F7B1AB; }
  @media screen and (max-width: 600px) {
    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0.7; } }

.image:hover .overlay {
  opacity: 0.8; }

.overlay__text {
  color: #5D4E60;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }
  .overlay__text:hover {
    opacity: 1; }
