$Icon:20px;
$Medio:50px;
$Uno:100px;
$UnoyMedio:150px;
$Dos:200px;
$DosyMedio:250px;
$Tres:300px;
$Cinco: 500px;
$break-large: 1024px;
$break-small: 1023px;
$sizes: 20px, 15px, 10px;
$border: solid 1em;
